body {
  margin: 0;
  padding: 0;
  min-height:100%;
  height:100%;
  font-family: Verdana, sans-serif;
  position: relative;
}

/* The Modal (background) */
#onExitModal {
  display: none; /* Hide the modal */
  position: fixed; /* Keep the modal in place */
  left: 0; 
  top: 0;
	z-index: 99; /* Sit on top of the page */
  width: 100%; /* Make the modal full width */
  height: 100%; /* Make the modal full height */
  overflow: auto; /* Enable scroll if needed for different device sizes */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.blackout {
  position: relative;
  z-index: 1;
  background-color: black;
  transition: background-color linear 0.1s;
}

/* Modal Content/Box */
.modalContent {
  text-align: center;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #fefefe;
  width: 80%; 
  background-color: #000;
}

/* The Close Button */
.close {
  color: #fefefe;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d4ce46;
  text-decoration: none;
  cursor: pointer;
}

.modalMessage {
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  color: #fff;
}

.image {
  width:120px;
  height: 120px;
  padding: 20px 50px;
}

.flame {
  filter: drop-shadow(0px 0px 20px #E37D21);
}

.resumeContainer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 100px 0px;
  animation: resumeUp ease-out 1.5s forwards;
  animation-delay: 3.5s;
}

#sword {
  width: 100px;
  height: 100px;
}

#resume {
  text-decoration: none;
  display: inline;
  font-size: 0.7em;
  padding: 20px;
  background: #7C4A4A;
  border-radius: 4%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
  border: 3px solid #D4A851;
}

.fadeIn span {
  opacity: 0;
  animation: textFadeIn 0.5s linear forwards;
  animation-delay: 0.3s;
}

.fadeIn span:nth-of-type(2) {
  animation-delay: 0.7s;
}

.fadeIn span:nth-of-type(3) {
  animation-delay: 1.2s;
}

.fadeIn span:nth-of-type(4) {
  animation-delay: 1.7s;
}

.fadeIn span:nth-of-type(5) {
  animation-delay: 2.2s;
}

.fadeIn span:nth-of-type(6) {
  animation-delay: 2.7s;
}

.fadeIn span:nth-of-type(7) {
  animation-delay: 2.9s;
}

@keyframes textFadeIn {
  0% {
    opacity: 0.1;
    /* position: absolute; */
    transform: translateX(-100px);

  }
  /* 80% {
    opacity: 0.8;
    position: absolute;
  } */
  100% {
    opacity: 1;
    /* position: relative; */
    transform: translateX(0px);
  }
}

@keyframes resumeUp {
  from {
    opacity: 0.1;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes resume-up {
  from {
    opacity: 0.1;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}